{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODS 14 - Vida Submarina | Agenda 2030</title>
    <meta name="description"
        content="ODS 14 - Vida Submarina. Información, desafíos, soluciones y recursos para conservar y usar sosteniblemente los océanos, mares y recursos marinos.">
    <link rel="stylesheet" href="{% static 'styles/baseStyle.css' %}">
    <link rel="stylesheet" href="{% static 'styles/layout.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles/forms.css' %}">
</head>
<body>

    <div class="left">
        <img class="inicio-img" src="{% static 'images/inicio/inicio.gif' %}" alt="Imagen de inicio">
    </div>

    <div class="right">
        <div class="form-box">
            <h2>Registro</h2>

            <form method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Usuario" required>
                <input type="email" name="email" placeholder="Correo" required>
                <input type="password" name="password1" placeholder="Contraseña" required>
                <input type="password" name="password2" placeholder="Confirmar contraseña" required>

                <button type="submit">Crear cuenta</button>
            </form>

            <div class="link-box">
                ¿Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesión</a>
            </div>
        </div>
    </div>

</body>
</html>
